<header>
    <div>
        <mat-toolbar color="primary">
            <img class="header-logo" src="../../../assets/image/logo.png" alt="Logo">
            <span class="example-spacer"></span>
            <div>
              <nav class="botones">

                    <button> Home</button>
                  <!--
                    <button class = "boton" mat-button color='secundary' [routerLink]="['/home']" routerLinkActive="router-link-active"> Registrarse </button>
                    
                    <button mat-icon-button>
                        <mat-icon>shopping_cart
                            <span class="spanCart">0</span>
                        </mat-icon>
                    </button>
                    -->
                    <div class="demo-section">
                        <button mat-raised-button matBadge="15" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
                            <mat-icon>shopping_cart
                            </mat-icon>
                            <span class="cdk-visually-hidden"></span>
                        </button>
                      </div>
                </nav>
            </div> 
          </mat-toolbar> 
    </div>
</header>