
.mat-mdc-form-field 
  font-size: 14px
  width: 60%
  margin-top: 15px
  color: #cc6613


h2 
  font-family: Roboto, sans-serif
  color: #fd611a
  text-align: center

td
  width: 25%

th //Titulo
  font-family: Roboto, sans-serif
  min-width: 100px
  color: #fd611a
  font-size: 15px

.mat-table
  background: white
  color: #fd611a


.mat-paginator
  background: #fd611a
  margin-bottom: 5%

.shopping-cart
  border: 1px solid #fd611a
  width: 30%

  p
    color: #fd611a
    font-weight: bold
    font-family: Roboto, sans-serif
    margin-left: 2%

  .button-cart
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center

  button 
    padding: 3%
    background-color: #fd611a
    color: white
    border: unset
    margin: 2%