<footer>
    <div class="social-nerwork-icons">
        <img class="icon" src="../../../assets/image/facebook.png">
        <img class="icon" src="../../../assets/image/instagram.png">
        <img class="icon" src="../../../assets/image/linkedin.png">
        <img class="icon" src="../../../assets/image/twitter.png">
        <img class="icon" src="../../../assets/image/telegram.png">
        <img class="icon" src="../../../assets/image/whatsapp.png">    
    </div>
    <div class="copyright">
        <mat-icon>copyright</mat-icon>
        <p>2023 - Tamara Espejo Ruiz</p>
    </div>

</footer>